# **Introduction to Python**
## High Performance Research Computing, Texas A & M University

_ _ _ _

Learn Python fundamentals using this Jupyter Notebook integrated development environment.

# Jupyter Basics
In this section you will learn basics of Jupyter Notebook, and you will create your first program (Hello World!).

## Example. This is a Text cell

Click on it. You will see a box appear around the cell, so you can see its boundaries.

## Example. This is a Text cell with hidden content 

Click the button to see the hidden content. 

<p></p>
<details><summary><p style="padding: 10px; border: 2px solid;"><big>CLICK ME</big></p></summary>
<p>

Cells like these will be used to hide the solutions to exercises. 

</p>
</details>

## Example. The cell below this one is a Code cell

Click on it.

In [ ]:
# This is a code cell. Lines that start with # are comments. 
print("to execute a code cell, select it and click ▶ Run or ctrl+enter")

## Exercise. Create a text cell. 

To create a text cell, use the `Insert` menu. It will appear above or below the currently selcted cell. (Recommended: select this cell first). 

Then use the **Cell > Cell Type** menu and select **markdown**. 

To edit a text cell, double-click on it. Type some words. "Execute" the cell to turn it into formatted text.

## Exercise. Your first program
To create a code cell, use the **Insert** menu. It will appear above or below the currently selcted cell. (Recommended: select this cell first) 

Enter the text `print("hello world")` in the cell and execute it. 

*   Fun Fact: the text `"hello world"` in quotes is a *string*.
*   Fun Fact: the text `print()` with parentheses is a *function*.

## Exercise. Print multiple times

Enter some text inside the quotes within the `print()` function and execute it.

In [ ]:
for i in range(5):
    print("")

## Exercise. Let someone else do the work

To use code other people have written and published (called a **module**) use the **import** statement. 

Create a code cell, enter the text `import __hello__`, and run the cell. This means someone wrote the hello world program and named it `__hello__ `, so you can use it.

In [ ]:
import __hello__

## Exercise. Your work
1. Save the notebook with menu **File > save and checkpoint**. 

2. Reset the program (not delete the code). Use menu **Kernel > Restart**

3. Tidy up the notebook. Select a code cell. Use menu **Cell > All Outputs > Clear**

# Variables

## What is a Variable?
A variable in python has two components. 


1.   An "object" which is a space in memory where data lives. 
2.   A "name" which is a label we use to refer to that object.

Objects are like boxes, and names are like stickers we put on them. It is important to remember that the box and the sticker are separable; you can take the sticker off and attach it to another box. 

![boxlabelcat.png]()

Also, there are rules about what you can use in a variable's name. You could read the [variable names page](https://docs.python.org/3/reference/lexical_analysis.html#identifiers) from the python manual, but really, you should just google it.

## Example. Print a Variable

We have seen `print("hello world!")`

Now try it with a variable:

In [ ]:
example_variable="hello world!"
print(example_variable)

In the code above, the *name* of the variable is ```example_variable``` . 

The *object* is a space in memory, and the object contains the data ```"hello world!"```.

## Assignment Operator
The *assignment operator* is ```=``` (a single equals sign). The name of a variable goes on the left. The object and/or its data goes on the right. 

>```variable_name = <object and/or data>```

The right side of the ```=``` statement is called an *expression*. It can contain literal data, or the name of a variable, or even other operations. 


### Rules:
If the variable name already exists, it is overwritten. A variable name can only be attached to one object at a time.


In most cases, the expression refers to the contents of an object. Assignment operator therefore creates a new object to copy that contents into. If this leaves behind an object with no label attached, the object is discarded.

## Inspecting variables
Suppose we have a variable named ```a```.

The print() statement allows us to see the contents of a variable. 
>```
>print(a)
>```

Use comma to separate multiple expressions. It's good practice to print a description while you're printing data, so you don't forget what the data means. Example usage:
>```
>print("variable a contents:", a)
>```

A special case: the name of a variable can be used as a statement. Python will try to tell you something about it.

Example usage:

>```
>print("what is variable a?")
>a
>```

## Exercise. Variable arithmetic
Create two variables ```a``` and ```b``` and assign them number values. Check their contents. Remember to print descriptions along with the data. 

Also print the expression `a+b`. 

Use the cell below to get started. Fill in what's missing and then execute it.

In [ ]:
a=
b=
print()
print()
print()

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>


```
a=1
b=2
print("a ", a)
print("b ", b)
print("a+b",a+b)
```
</p>
</details>

## Exercise. Variables in memory
### Question:
Do variables persist in memory across cells? Do an **experiment** to find out. 



1.   In the first cell, create a variable with a number value, then print the variable. e.g. `a=1`, `print(a)`
2.   In the second cell, *reassign* the variable equal to itself plus 1, then print the variable. e.g. `a=a+1`, `print(a)`

Execute these cells multiple times in different combinations. Try executing each cell twice in a row. Does it do what you expect?

In [ ]:
#create a variable

In [ ]:
#reassign the variable to itself plus one

## Exercise. Iterating variables

We previously used the `for x in range()` loop to repeat an action many times.

It can also be used to set the value of the a variable to multiple different values. 

The cell below prints out integers from 1 to 10. Try it!

In [ ]:
print("first ten integers")
for x in range(1,11):
    print(x)

Modify the following cell to print out the first ten *triangular numbers*. The first five triangular numbers are: 1, 3, 6, 10, 15. 

* Note: all the lines of code after the `for` statement must begin with four spaces.

In [ ]:
print("first ten triangular numbers")
#your code here
for x in range(1,11):
    #your code here
    print()

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>

```
print("first ten triangular numbers")
sum=0
for x in range(1,11):
    sum=sum+x
    print(sum)
```
</p>
</details>

## Exercise. Module as a variable

**Modules** are objects too?

Use `import __hello__` just like before, but this time also try assigning a variable to it with `=` (as though the module was data), and print your variable.

In [ ]:
import __hello__
 = 
print()

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>
    
```
import __hello__ 
print("b=__hello__")
b=__hello__
print("contents of b:", b)
```
</p>
</details>

## Exercise. Bugs
Something is wrong with the code below! can you figure it out and fix it?

In [ ]:
print(cheat_codes)

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>
you have to create the variable with = before you can use it in an expression 
    
```
cheat_codes="sorry, no cheating"
print(cheat_codes)
```
</p>
</details>

## Exercise. Bugs
Something is wrong with the code below! can you figure it out and fix it?

In [ ]:
1st_place_winner="Me, of course"
print(1st_place_winner)

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>

variable names can't begin with numbers.     
```
first_place_winner="Me, of course"
print(first_place_winner)
```
</p>
</details>

# Variable Types

## What is a Variable Type?
A variable in python has different properties depending on what kind of data it represents, called the variable's type. Python automatically assigns and keeps track of variables types, based on the data you give it, but the type it chooses is not shown unless you ask.

## Common Data Types


*   Numbers
*   Text
*   True/False

## Numbers
Numbers are represented by two different types:

1.   **Integers** (... -2, -1, 0, 1, 2 ...)
2.   **Floating-point** (everything else; has a decimal point `.`)

You can do arithmetic with both of them: `+ - * /`.

## Text

A **string** is a sequence of characters (not just the letters 'a-z'). 

String literals are easy to spot: they are contained in single quotes, double quotes, or triple quotes. 

String variables can be concatenated, formatted, sliced, searched... any many more! (A future lesson).

## True/False
**Boolean** variables can be either `True` or `False`. Sometimes, the values `0` and `1` are used instead.

## Example Data Types
The cell below contains some common variable types

In [ ]:
a=1
b=0.5
c='hello'
d="hello"
e='''
hello
'''
f=True

## Inspecting variable types

The `type()` function allows us to see the type of a variable.

Example: Suppose we have a variable named `a`.

>```
>print(type(a))
>```

The output will look like `<class 'type'>`.

The type keywords for these common types are:


*   `int` for **integer**
*   `float` for **floating-point** 
*   `str` for **string**
*   `bool` for **boolean**

## Exercise. Inspecting types
Create some variables. 

Assign them values from among each of the four types described above. 

Use `type()` to see if you were right. 

Use the cell below to get started.

In [ ]:
a=
print(a, "is a ", type(a))

## Converting variable types
Variables of one type can be converted to another using Python builtin functions. The functions have the same name as the variable type keywords. 
```
int()
float()
str()
```
If the original type of the variable is a *string*, then int() and float() will do their best to figure out if that string represents a number.

## Example. Float conversion

Use the cell below to try out a conversion, and  inspect the variable before and after conversion.

In [ ]:
a=1
print(a, 'converted to float:', float(a))

## Exercise. Float conversion

Spell out a floating point number in scientific notation (looks like #.#e#) in a string type variable. 

Have python convert this to a **floating point** variable. Display the value and the type. 

Use the cell below to get started.

In [ ]:
text= 
number= 
print()

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>

    
```
text="5.5e3"
number=float(text)
print(number, type(number))
```
</p>
</details>

## Exercise. Boolean conversion

Create a variable with any value that's not a boolean. 

Convert to boolean. Display the value and the type. 

See if you can find a value that converts to boolean `False`.

In [ ]:
thing= 
boolean= 
print()

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>
    
```
thing=99
boolean=bool(thing)
print(boolean, type(boolean))
```

Hint: the number `0` and the string `''` are two cases that convert to boolean `False`.

</p>
</details>

# Math in Python
Python language was designed to make math programming intuitive. The rules are mostly the same as they are in elementary school. 

Operations transform one or more numbers into a new number. Order of operations determines how an expression is evaluated.

## The Usual Arithmetic

In programming, these symbols are called *operators*. They are evaluated in the standard order. If two or more operations are tied, then they go left-to-right. 

Order|Name    | Symbol(s)
----|------|-------
First|Parentheses|`()`
2nd | Exponent|`** `
3rd|Multiply |`*`
3rd|Divide |`/`
4th|Add | `+` 
4th|Subtract | `-` 
5th|Equality|`==`
5th|Not equality|`!=`
5th|Inequality | `>,  >=,  <,  <=`
Last|Assignment|`=`

The arithmetic operators return a Number as the result (if it's defined), and the comparison operators return a Boolean (True or False). 

Reminder: although `=` is also an operator, it isn't a math equality. It's the assignment operator.

## Example. Arithmetic
Guess what the result of the cell will be. Try it! Were you correct?

In [ ]:
result = 1 + 2 * 3 - 3 ** 2 / ( 1 + 8 )
print(result)

## Example. Comparison
Guess what the result of the cell will be. Try it! Were you correct?

In [ ]:
result = 1 + 2 == 2 + 1
print(result)

## Exercise. Arithmetic and Comparison
Is the expression "3 multiplied by itself eleven times" greater than the expression "2 multiplied by itself fifteen times" ?

Write some code to find out the answer!

In [ ]:
result=
print(result)

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>

    
```
result= 3**11 > 2**15
print(result)
```
</p>
</details>

## Logic

Logic is basically arithmetic. At least, that's how a programmer would see it. 

Order|Name   | Symbol
----|----|--
first|Parentheses |`()`
 | (Arithmetic)|
 |(Comparisons)|
6th|Not|`not`
7th| And|`and `
8th|Or|`or`
last|Assignment |`=`

These Boolean operations (True False) are evaluated after the comparison operators. They work on Booleans. The result is also a Boolean.

## Example. Logic
Guess what the result of the cell will be. Try it! Were you right?

In [ ]:
result = 2>1 and 3==4 or 1>0
print(result)

## Exercise. Logic
 
Write a program that figures out whether any given year is a leap year. 

Leap years are all the years that are a multiple of 4 except for the ones that are a multiple of 100. 

Test different cases. 


*   Hint: the modulus operator `%` is remainder-after-division. E.g.

  ```
  53 % 10 == 3
  ```

  If the remainder is zero, the numbers are perfectly divisible. 
  
  

*   Hint: you can use the `input()` funtion to get a new value for a variable, rather than re-writing the code for each test. 
*   Hint: do *not* use `if` statements (if you have heard of them)

In [ ]:
year=int(input("enter a year (and then <enter>):"))
#your code here

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>

    
```
year=int(input("enter a year (and then <enter>):"))
success= year%4 ==0 and not year%100 ==0
print(success)
```
    
</p>
</details>

# Using Functions

## Functions are tiny machines
Like in Math, in programming a *function* has inputs and outputs. In python specifically, the inputs are called *arguments* and the outputs are called   *return* values. The arguments live in parentheses. Looks like this:

```
return_values = function(arguments)
```
We have seen this before with the type conversion functions like `int()`. 
## Types
Functions are often specific about which data types are expected for the inputs and outputs. An example is the `int()` function. It expects a string or a float as its argument and always returns an integer. 

```
<integer> = int(<string> or <float>)
```
## Functions do stuff
Unlike in math, a function can additionally take some action that affects parts of the program outside of itself. An example is the `print()` statement which affects the *program* output (not the function output). In this example, the return value is not used. 

```
print(arguments) 
```

## Arguments
If there are multiple arguments, there are two ways to specify which ones are which. 
### "Regular" arguments 
"Regular" arguments  are comma-separated and must be in a specific order. 
```
function( arg1, arg2, arg3 )
```
The same goes for multiple outputs. 
```
out1, out2, out3 = function()
```
### "keyword" arguments
"keyword arguments" or *kwargs* for short, are in the form of `name=value` and they don't have to be in a specific order. These are often optional and have a default value. 

```
function(arg3name=arg3value, arg1name=arg1value, arg2name=arg2value)
```
* Notice I put them out of order. It's OK.

## Example. Keyword argument

The `print()` function we have used before always does a new line. 

We can turn that off with the keyword argument named `end`.

The default value of `end` is "a newline character". 

What happens if we set it to `''` instead?

In [ ]:
print("Hello world!", end='')
print("Hello world?", end='')
print("Hello world.", end='')

## Example. Discovering functions

In Jupyter, functions come with **help cards** that tell you how to use them. 

You can print a help card with `help( <function_name> )`. 

Execute the cells below. Try to determine whether the function has any arguments, return values, or type expectations. 

### `!!!` Make sure your runtime is connected `!!!`
(you may have to run a cell to get it started).

In [ ]:
#how to use abs() function?
help(abs)

In [ ]:
#how to use exec() function?
help(exec)

In [ ]:
#how to use open() function?
help(open)

### Solution
 The `abs()` function has a single argument and a single return value. It is *implied* that the argument should be a number. 

The `exec()` function has three "regular" arguments and *no* specified return value. There are restrictions on what types the arguments may be. 

The `open()` function has one regular argument which is a *string*, one return value which is a *stream object*, and many many keyword arguments. You have to scroll down the help card to see their full descriptions.

## Example. Using a new function

The `ord()` function takes a single character as its single argument, and returns something else. *What does it do?* 

The `type()` and `print()` functions inspect variables, as we have seen before. 

Execute the cell below.

In [ ]:
input='$'
output=ord(input)
print(type(input), input)
print(type(output), output)

Modify the cell below to read about the `ord()` function, etc.

In [ ]:
help()  #your value here

## Exercise. Binary conversion.

Type the `int()` function into the cell below, and hover over to read about it. 

It has a hidden power! It can interpret strings that contain numbers in the *binary representation*. 
* E.g. `'110'` is the binary reprentation of the number 6. 

Figure out how to use this feature, and test it out. 

*  Hint: you must use a *keyword argument*.

Convert a string (a number in binary) into a regular integer.

In [ ]:
#your code here

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>

    
```
text='110'
number=int(text, base=2)
print(text, "is", number)
```
    
</p>
</details>

# Flow Control
A program is not very useful if it can only do the same thing every time. Why not mix it up?

*Flow* is the order in which statements are executed. 

*Flow control* is how you determine where Flow goes next. 

a *Control Statement* is a python command that does Flow Control.

## Example control structure

We have already seen the for statement. This is an example of a control structure. 

```
for x in range():
	print()
```

Observations
* The `for` control statement ends with a colon “`:`”
* The next line is indented (some amount of space on the left)

## Whitespace

The amount of whitespace at the beginning a line is called the indentation. 

 > *whitespace*       `statement`

Common indentation levels: 4 spaces, 8 spaces, etc

* Warning: your IDE prefers multiples of 4 spaces. If you use other numbers, your syntax colors may be wrong. 

* Warning: Spaces and tabs are both whitespace, but tabs don’t look the same in every text editor so it can be a "gotcha".

## Blocks 

In Python, programs are structured into blocks. A block is a group of statements that are executed together. 
Statements in a block have the same indentation. 
```
block 1 
block 1
    block 2
    block 2
```

## Conditionals

The simplest control statement to demonstrate Flow Control is the `if` statement. 
*  `if` checks an  expression to see if the expression evaluates to `True` or `False`. 
*  When `if` has a `True` condition, it executes its block once, and then passes. 
*  When `if` has a `False` condition, it skips its block. 

> ```
if <expression>:
>     block
>```

Notice the colon `:` . All control statements have one.

## Example. Equality conditional
Fill in the missing elements and execute the cell. Try multiple variations. Try different data types.

In [ ]:
var1=
var2=
if var1 == var2:
    print("a match")
print("the end")

## Example. Trivial conditionals
Of course, you can turn blocks on and off just by putting `True` and `False` directly in the `if` statement.

In [ ]:
if True:
    print("this block always executes")
if False:
    print("this block never executes")

## Exercise. Inequality conditionals
Write a program that compares two numbers. Print out a message that says which one was bigger.

In [ ]:
# your code here

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>

    
```
a = 1 
b = 2 

if a>b:
    print(a, ">", b)
if a<b:
    print(b, ">", a)
if a==b:
    print(a, "and", b, "are equal")
```
    
</p>
</details>

## Exercise. Bugs
Something is wrong with the code below! Can you fix it?

In [ ]:
var=1
if var<99:
print("var < 99")

## Exercise. Bugs
Something is wrong with the code below! Can you fix it?

In [ ]:
what="a thing"
if what == "not a thing"
    if what == "a thing"
        print("this code makes no sense, honestly.")

## Example. Implicit boolean conversion
The `if` statement implicitly converts anything to a boolean, if it can. This is conceptually a "test for *existance*". 

Conversion to boolean (as we saw before) treats most values as `True`.

A few exceptions:

*   the number `0` is treated as `False`
*   the string `''` is treated as `False`
*   the object `None` is treated as `False`

This is especially useful when combined with the `not` logic operator.

Remove a `#` and execute the cell below. Try different values.

In [ ]:
#a=0
#a=-99
#a=''
#a='words'
#a=None
#a=print 

if a:
    print(a, 'exists')
if not a:
    print(a, 'does not exist')

> wow, even built-in functions like `print()` count as objects?
>
> -- some kid probably

## Conditional statements, extended

The `else` control statement is linked to a previous `if` statement. The `else` statement executes its block when the `if` doesn't, and vice versa. 

>```
>if <expression>:
>    block
>else:
>    block
>```

The `elif` statement is a combination of `else` and `if`. It executes its block when the previous control statement doesn't, *and* its own expression evaluates to `True`. You may chain them together. 

>```
>if <expression>:
>    block
>elif <expression>:
>    block
>elif <expression>:
>    block
>... 
>else:
>    block
>```

## Example. Multiple conditions
Fill in the missing value. Execute the code below. Try different values.

In [ ]:
# do you like soup?
var= #your value here
if var=="Yes":
    print("good soup")
elif var=="No":
    print("too bad")
else:
    print("I only understand Yes or No")

## Exercise. Multiple conditions

Revisit the Leap Year concept from the Logic exercise. 

* Hint: ctrl-f Logic

This time, implement the logic as multiple conditionals. Print out a different statement for each case. 

Hint: you can either 
* *nest* conditionals (one inside the other)
* *chain* conditionals (one after the other)

In [ ]:
year=int(input("enter a year (and then <enter>):"))
#your code here

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>

    
```
year=int(input("enter a year (and then <enter>):"))
if year % 100 == 0:
    print("A multiple of 100; not a leap year.")
elif year % 4 != 0:
    print("Not a multiple of four; not a leap year.")
else:
    print("A leap year!")
```
    
</p>
</details>

# Lists

Lists are the first kind of variable that can refer to multiple objects. The objects can be of any type. They can even be lists. Each object is called an **element**.

Create a list with `[]`. Separate elements with comma `,` .

The function `len()` will count how many elements are in a list.

## Example. List


This list has three elements. They are strings.

In [ ]:
example_list = [ 'apple', 'banana', 'orange']
print("example_list",      example_list )
print(        "type", type(example_list))
print(      "length",  len(example_list))

There are many things you can do with lists, but not today.

## Exercise. List
Create a list with at least three elements. Try different data types. 

Print the list and the length of the list.

In [ ]:
#your code here

# List Loops

We have previously seen the `for` loop iterate over a fixed range. 

>Reminder:
>```
>for x in range(10):
>    print(x)
>```

But the `for` loop is powerful! It can also iterate over **lists**. 

>Compare:
>```
>for x in <list>:
>    print(x)
>```

## Example. List loop

Combine our previous examples of iteration and list. 

Execute the cell to see what happens.

In [ ]:
example_list = [ 'apple', 'banana', 'orange']
for x in example_list:
    print(x)

## Exercise. Sequence Summation. 

Create a list that contains only numbers (at least 5 elements). 

Copy the code you used for the triangular numbers exercise (Iterating Variables). 

* Hint: ctrl-f triangular

...except this time, replace the `range()` with your list.

In [ ]:
#your code here.

<details><summary><p style="padding: 10px; border: 2px solid;"><big>Click here to see solution</big></p></summary>
<p>

    
```
print("the summation of some prime numbers")
sum=0
for x in [2,3,5,7,11,13,17,19,23,29]:
    sum=sum+x
    print(sum)
```
    
</p>
</details>

## Exercise. Bugs

Something is wrong with the code below! Can you fix it?

In [ ]:
for plant in "flower" "grass" "tree":
    print(plant)